{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "tailwindPreserveDuplicates": true
}
