services:
  postgres:
    image: postgres:17
    container_name: postgres17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: label_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
