@import "tailwindcss";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
}
@plugin "daisyui" {
  themes:
    wireframe --default,
    black --prefersdark;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));
