@import "tailwindcss";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
}
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    wireframe,
    black,
    lemonade,
    luxury,
    retro,
    lofi,
    forest,
    sunset,
    valentine;
}

@custom-variant dark (&:where(
  [data-theme=dark],
  [data-theme=dark] *,
  [data-theme=black],
  [data-theme=black] *,
  [data-theme=luxury],
  [data-theme=luxury] *,
  [data-theme=forest],
  [data-theme=forest] *,
  [data-theme=sunset],
  [data-theme=sunset] *
));

@theme inline {
  --container-base: 100rem;
  --font-mystery-quest: "Mystery Quest";
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-stable-both {
  scrollbar-gutter: stable both-edges;
}
